*{
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --branco-padrao: white;
    --preto-padrao: black;
    --cor-botao-hover: #5ff15f;
    --cor-botao-remover-hover:  rgb(253, 83, 83);

    --fonte-component-admin: 'arial', 'sans-serif';
    --fonte-alternativa-component-admin: 'Roboto', 'sans-serif';
}

.MultipleCarouseus_titulo, .MultipleCarouseus_subtitulo, .MultipleCarouseus_conteudo{
    height: 70px;
    max-width: 450px;
}

.button-carousel-remover, .button-carousel-adicionar  {
    font-family: var(--fonte-alternativa-component-admin);
    width: 390px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color:var(--branco-padrao); /* Cor do fundo do botão */
    color: var(--preto-padrao); /* Cor do texto */
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

.button-carousel-remover:hover{
    background-color: var(--cor-botao-remover-hover);
}

.button-carousel-adicionar:hover{
    background-color: var(--cor-botao-hover);
}

@media (min-width:320px) and (max-width:359px) {
    .MultipleCarouseus_titulo, .MultipleCarouseus_subtitulo, .MultipleCarouseus_conteudo, .MultipleCarouseus_links{
        width: 185px;
    }
    .button-carousel-remover, .button-carousel-adicionar{
        max-width: 210px;
    }

}

@media (min-width:360px) and (max-width:380px) {
    .MultipleCarouseus_titulo, .MultipleCarouseus_subtitulo, .MultipleCarouseus_conteudo, .MultipleCarouseus_links{
        width: 210px;
    }
    .button-carousel-remover, .button-carousel-adicionar{
        max-width: 210px;
    }

}

@media (min-width:381px) and (max-width:600px) {
    .MultipleCarouseus_titulo, .MultipleCarouseus_subtitulo, .MultipleCarouseus_conteudo, .MultipleCarouseus_links{
        width: 280px;
    }
    .button-carousel-remover, .button-carousel-adicionar{
        max-width: 260px;
    }

}

@media (min-width:425px) and (max-width:600x) {
    .MultipleCarouseus_titulo, .MultipleCarouseus_subtitulo, .MultipleCarouseus_conteudo, .MultipleCarouseus_links{
        width: 200px;
    }
    .button-carousel-remover, .button-carousel-adicionar{
        max-width: 200px;
    }

}

@media (min-width: 900px) and (max-width:1024px) {
    .MultipleCarouseus_titulo, .MultipleCarouseus_subtitulo, .MultipleCarouseus_conteudo, .MultipleCarouseus_links{
        width: 200px;
    }
    .button-carousel-remover, .button-carousel-adicionar{
        max-width: 200px;
    }
    
}


@media (min-width: 1025px) and (max-width:1300px) {
    .offcanvas-nav_admincomponent{

        max-width: 400px;

    }
    .MultipleCarouseus_titulo, .MultipleCarouseus_subtitulo, .MultipleCarouseus_conteudo, .MultipleCarouseus_links{
        width: 300px;
    }
    .button-carousel-remover, .button-carousel-adicionar{
        max-width: 260px;
    }
    
    
}